* {
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(240, 38%, 20%);
  --color-secondary: hsl(240, 18%, 77%);

  --ff: "Inter", sans-serif;
  --fs-body: 26px;
  --fs-small: 20px;
  --fs-extra: 11px;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-body);
  color: var(--color-primary);
  font-weight: var(--fw-light);
  text-align: center;
  background: url(/images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

img {
  display: block;
  max-width: 100%;
}

main {
  height: 100vh;
  width: 80%;
  max-width: 375px;
  margin: 1em auto;

  /* background-size: contain;
  background-repeat: no-repeat; */
}

.testiomonial__img-container {
  background: yellow;
  background: url(/images/pattern-bg.svg);
  background-size: cover;
  position: center;
  padding: 1em;
}

.testiomonial__img-container__img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.testimonial__main-info {
  background: url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.testimonial__main-info__name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
  margin-bottom: 0;
}

.testimonial__main-info__profession {
  color: var(--color-secondary);
  font-size: var(--fs-small);
  margin-top: 0;
}

.attribution {
  font-size: var(--fs-extra);
  text-align: center;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}
